Repository MalteMagnussen/CA3, pull requests merged in 2019-11, with the labels that each got.

#21 Issue#9
  src/main/java/facades/ApiFacade.java
  src/main/java/facades/TestMainTODELETE.java
  src/main/java/rest/ApplicationConfig.java
  src/main/java/rest/SWAPIRessource.java
  src/test/java/rest/LoginEndpointTest.java
Labels: Backend

#23 Issue#10 login
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/apiFacade.jsx
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  src/main/java/security/LoginEndpoint.java
Labels: Backend, Frontend

#24 Issue#14 settings
  frontend/src/apiFacade.jsx
  frontend/src/settings.js
Labels: Frontend

#26 Issue#12 router
  frontend/src/App.js
  frontend/src/apiFacade.jsx
  frontend/src/components/Login.jsx
  frontend/src/components/Swapi.jsx
  frontend/src/components/Welcome.jsx
  src/main/java/rest/SWAPIRessource.java
Labels: DONT MERGE, Frontend

#32 Implement #30 - Welcome page
  frontend/src/Welcome.css
  frontend/src/components/Welcome.jsx
  package-lock.json
Labels: Frontend

#33 Show roles
  frontend/src/App.js
  frontend/src/components/Login.jsx
  frontend/src/components/ShowRoles.jsx
Labels: Frontend

#34 Implement #31 - Header
  frontend/src/App.js
  frontend/src/index.css
Labels: Frontend

#28 Tests
  src/main/java/entities/Role.java
  src/main/java/entities/User.java
  src/main/java/facades/UserFacade.java
  src/test/java/facades/FacadeExampleTest.java
  src/test/java/facades/UserFacadeTest.java
  src/test/java/rest/LoginEndpointTest.java
Labels: Backend
